@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container jumbotron-fluid"
    <div class="jumbotron">
    </div>
</div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="btn-group rightHeader">
                <a href="/OurTeam">
                    <button class="btn btn-outline-primary">Our Team</button>

                </a>
            </div>
            <div class="btn-group leftHeader">
                <a href="./candidates"><button class="btn btn-outline-primary">Candidates</button></a>
                <a href="./jobtitles"><button class="btn btn-outline-primary">JobTitle </button></a>
                <a href="./companies"><button class="btn btn-outline-primary">Companies </button></a>
                <a href="./industries"><button class="btn btn-outline-primary">Industries</button></a>
            </div>
        </div>


    <div class="jumbotron">
        <div>
            <h1 class="title display-3 text-center" style="font-weight:600;">Aspire<strong style="font-weight:200;"> Recruitment </strong>Services</h1>
            <p class="lead string-1 text-center"> Live your true potential </p>
        </div>
    </div>
</div>
<div class="content container">
    <h1>About Us</h1>
    <span>
        We, at Aspire help you achieve your true potential by making the tedious job hunt a cakewalk for you.
        We Help you make the world a better place for you and for everybody else.
        Our bond of trust with out clients has been built on the confidence of supplying the right talent and finding the "best-fit".
        We match your skill sets with the most preferred and relevamnt job types, helping you get the job of your dreams.
    </span>

    <p>Aspire is the best there is..</p>

    <p><h4 class="text-dark">Service Offered</h4></p>
    <ul>
        <li>
            <span> <a href="https://www.jobscan.co/home-v2" target="_blank">Resume Optimization</a></span>
        </li>
        <li>
            <span> <a href="https://www.coursera.org" target="_blank">Learnings Platform</a></span>
        </li>
        <li>
            <span> <a href="https://www.indeed.com/hire/assessments" target="_blank">Skill Assesments </a></span>
        </li>
    </ul>
    <p><h4 class="text-dark">Top Industries we hire for</h4></p>
    <ol>
        <li>
            <strong>Consulting</strong>
        </li>
        
        <li>
            <strong>Engineering</strong>
        </li>
        <li>
            <strong>IT Support</strong>
        </li>
    </ol>
    <p>
        <h4>What people say about us</h4>
        <img src="~/image/testimonials.jpg.webp" class="images-test" data-bs-toggle="tooltip" data-bs-placement="right" title="Testimonial" />
    </p>

    <p>
        <img data-bs-toggle="tooltip" data-bs-placement="right" title="Job Hunt Process" src="~/image/cg.png" class="images-test" />
    </p>
    <div class="container bg-light">
        <div class="row">
            <div class="col-6 text-left">
                <h4 class="text-capitalize font-weight-bold text-dark">contact details:</h4>
                <p class="text-primary font-italic">Deepak Narang (Founder, CEO)</p>
            </div>
            <div class="col-6 text-right">
                <span class="text-info font-weight-bold">
                    <i class="fa fa-edit"></i>
                    +1-(513)-954-XXXX
                </span>
                <p class="text-success font-weight-bold"> contactus@aspire.com</p>
                <address class="text-danger"> 207, Tulseca Avenue, Third Floor, Business Center, 2300
                <br /> Indianapolis - 45209 </address>
            </div>
        </div>
    </div>
</div>
