@page
@model RecruitCatNarangdk.Pages.OurTeamModel
@{
}

<!DOCTYPE html>
<html>

<head>
    <div class="container jumbotron-fluid"
    <div class="jumbotron">
    </div>
</div>
        <div class="jumbotron ">
            <div>
                <h1 class="title display-3 text-center" style="font-weight:100;">OUR<strong style="font-weight:600;"> TEAM </strong></h1>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <img class="center" src="~/image/DP.jpg"
                                 width="250" height="250">
                            <p class="align-center"><strong>Deepak Narang</strong></p>
                            <p class="align-center"><strong><u>Chief Executive Officer </u></strong></p>
                            <div class="flare">
                                <p class="align-justify">
                                    The idea that a lot of people still struggle with minding the right match for thier careers always concerned me.
                                    Aspire was born, with just one vision in mind, to help people gain more satisfaction in thier lives by finding the right fit for them.
                                </p>
                                <p class="align-justify">&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <img class="center" src="~/image/sb.png"
                                 width="250" height="250">
                            <p class="align-center"><strong>Scarlett Brotherton</strong></p>
                            <p class="align-center"><strong><u>Hiring Manager</u></strong></p>
                            <div class="flare">
                                <p class="align-justify">
                                    As a Hiring Manager, my job is to ensure that top quality applicants can connect the top emplyers,
                                    That suit thier current arc. We ar Aspire try to find the best talent for a given job oepning by
                                    by only forwaring the most relevant and suitable candidate for the role.
                                </p>
                                <p class="align-justify">&nbsp;</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <img class="center" src="~/image/eh.png"
                                 width="250" height="250">
                            <p class="align-center"><strong>Emily Heyl</strong></p>
                            <p class="align-center"><strong><u>Recruitment Manager </u></strong></p>
                            <div class="flare">
                                <p class="align-justify">
                                    At Aspire we beleive that quality is a habit, not an act. Our decade long performance in ensuire the best quality candidates is well know as we are one of the most highly rates services in our category.
                                </p>
                                <p class="align-justify">&nbsp;</p>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</head>

<body>
    
        <div class="row" style="margin-top: 350px">
            <div class="col-4">
                <p class="align-justify"><strong>Strengths</strong></p>
                <ul class="align-justify font">
                    <li>Natural Improviserr</li>
                    <li>Public Speaker</li>
                    <li>IT Expert</li>
                </ul>
                <p class="align-justify"><strong>&nbsp;</strong></p>
            </div>
            <div class="col-4">
                <p class="align-justify"><strong>Strengths</strong></p>
                <ul class="align-justify font">
                    <li>Communication Expert</li>
                    <li>Majors in Pschology</li>
                    <li>Ability to Strategize</li>
                </ul>
                <p class="align-justify"><strong>&nbsp;</strong></p>
            </div>
            <div class="col-4">
                <p class="align-justify"><strong>Strengths</strong></p>
                <ul class="align-justify font">
                    <li>Team Work</li>
                    <li>Quality Assurance</li>
                    <li>Integrity</li>
                </ul>
                <p class="align-justify"><strong>&nbsp;</strong></p>
            </div>
        </div>
    </div>
    <section class="footers bg-light pb-3 pt-2">
        <div class="container pt-2">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="~/image/aspire.jpg" alt="Logo" style="width:150px; height: 150px;">
                    </div>
                    <div class="footers-info mt-3">
                        <p>Live Your <strong>True</strong> Potential!</p>
                    </div>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                    <h5>Information </h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Register Now</a></li>
                        <li><a href="/">Blog</a></li>
                        <li><a href="/">Services</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Explore </h5>
                    <ul class="list-unstyled">
                        <li><a href="/">News</a></li>
                        <li><a href="/">Map</a></li>
                        <li><a href="/">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
                    <h5>Company </h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Career</a></li>
                        <li><a href="/">Policy</a></li>
                        <li><a href="/">Contact Us</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <section class="disclaimer bg-light border">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 py-2">
                    <small>
                        The relationship created through Aspire services is that of a contractor nature.
                        This Agreement is not intended to create a relationship such as a partnership, franchise, joint venture, agency, or employment relationship.
                        Neither party may not act in a manner which expresses or implies a relationship other than that of independent contractor, nor bind the other party.
                        Licensee hereby waives the benefit of any laws dealing with the establishment and regulation of franchises.
                    </small>
                </div>
            </div>
        </div>
    </section>
</body>

</html>