@page
@model RecruitCatNarangdk.Pages.Industries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center alert alert-primary">Edit @Model.Industry.IndustryName</h1>
<hr />
<div class="container">
    <div class="p-2 font-weight-bold text-right">
        <a asp-page="./Index">Back to List</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Industry.IndustryId" />
                <div class="form-group">
                    <label asp-for="Industry.IndustryName" class="control-label"></label>
                    <input asp-for="Industry.IndustryName" class="form-control" />
                    <span asp-validation-for="Industry.IndustryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry.IndustryLocation" class="control-label"></label>
                    <input asp-for="Industry.IndustryLocation" class="form-control" />
                    <span asp-validation-for="Industry.IndustryLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry.ContactNumber" class="control-label"></label>
                    <input asp-for="Industry.ContactNumber" class="form-control" />
                    <span asp-validation-for="Industry.ContactNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry.EmailId" class="control-label"></label>
                    <input asp-for="Industry.EmailId" class="form-control" />
                    <span asp-validation-for="Industry.EmailId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry.IndustryFoundedDate" class="control-label"></label>
                    <input asp-for="Industry.IndustryFoundedDate" class="form-control" />
                    <span asp-validation-for="Industry.IndustryFoundedDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Industry.IsPrivate" /> @Html.DisplayNameFor(model => model.Industry.IsPrivate)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
